body{
    background-size: cover;
    text-align: center;
}


h3{

    font-size: 25px;
}

.heading{

    width: 100%;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(14, 14, 14);
    margin: 0px;
}

.note{

    color: red;
    font-size: 15px;

}

canvas{

    box-shadow: 5px 5px 5px black;

    border: 5px solid black ;

    border-radius: 15px;

    margin-top: 60px ;

}